.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 24px;
/*   display: flex;
  justify-content: flex-end;
  align-items: center; */

  .ant-btn {
    height: fit-content;
    background-color: #fff;
    border-radius: 4rem;
  }

  @media screen and (min-width: 992px) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.navbar-menu {
  border-radius: 1rem;
  padding: 0.75rem 0;
}

.ant-menu-horizontal {
  border-bottom: unset !important;
}

.logo {
  width: 124.48px;
  height: 21.77px;
}