@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500;600&display=swap');

@font-family: 'Inter', sans-serif;

@layout-header-background: #fff;
@normal-color: red;
@text-color-secondary: #BFBFBF;
@btn-border-radius-base: 8px;
@card-radius: 24px;

